.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.container {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-end;
  align-items: center;
  max-width: 1200px;
  padding: 10px 30px;
  display: block;
}

.section {
  background-color: #fff;
}

.navbar {
  background-color: #ddd0;
  top: auto;
  bottom: auto;
}

.image {
  padding-top: 20px;
  padding-left: 0;
  padding-right: 0;
}

.section-2 {
  background-color: #0abe99;
  margin-bottom: 0;
  padding-bottom: 30px;
}

.image-2 {
  z-index: 1;
  mix-blend-mode: normal;
  border-radius: 5px;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  display: block;
  position: relative;
  box-shadow: 0 2px 5px #18035d5e;
}

.div-block {
  max-width: 55%;
  padding-left: 0;
  padding-right: 42px;
  display: block;
}

.container-2 {
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}

.div-block-2 {
  flex: none;
  max-width: 48%;
  display: block;
  overflow: visible;
}

.section-3 {
  background-color: #cedbff;
}

.paragraph {
  color: #925cfd;
  margin-bottom: 40px;
  font-family: Varela, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.heading {
  color: #925cfd;
  font-family: Vollkorn, serif;
}

.section-4 {
  background-color: #2c216d;
  height: 270px;
}

.div-block-3 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 40px;
  margin-bottom: 40px;
  display: grid;
}

.image-3, .image-4 {
  border-radius: 20px;
}

.image-5 {
  border-radius: 300px;
  position: static;
}

.image-6 {
  border-radius: 20px;
}

.section-5 {
  background-color: #fff;
}

.section-6 {
  background-color: #fdcf5b;
  padding-top: 35px;
  padding-bottom: 35px;
}

.section-6.flamingo {
  background-color: #fdbfa0;
}

.section-6.peony {
  background-color: #f1e6df;
}

.section-6.gerbera {
  background-color: #57c7a1;
}

.container-3 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-4 {
  min-width: auto;
  max-width: 48%;
  padding-right: 80px;
}

.div-block-5 {
  max-width: 48%;
}

.image-7 {
  mix-blend-mode: normal;
  border-radius: 6px;
  max-width: 450px;
  box-shadow: 0 2px 5px #0003;
}

.div-block-6 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  color: #ce4b00;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  margin-bottom: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  overflow: hidden;
}

.div-block-6.marigold {
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.div-block-6.gerbera {
  height: auto;
}

.image-8, .image-9 {
  flex: none;
  width: auto;
  max-width: none;
  height: 750px;
  display: block;
  overflow: hidden;
}

.image-10 {
  height: 60vh;
}

.image-10.flamingo {
  max-width: none;
  height: 750px;
}

.div-block-7 {
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.button {
  z-index: 1;
  text-align: center;
  letter-spacing: .2em;
  background-color: #ded8ff;
  border-radius: 300px;
  margin-top: 255px;
  padding: 15px 40px;
  font-family: Varela, sans-serif;
  font-weight: 400;
  position: absolute;
}

.container-4 {
  grid-column-gap: 38px;
  grid-row-gap: 38px;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 0;
  display: flex;
}

.container-5 {
  height: 270px;
}

.image-11, .image-12 {
  max-width: 35px;
}

.link-block {
  height: auto;
}

.image-13 {
  max-width: 35px;
}

.link-block-2 {
  max-width: 50px;
}

.image-14 {
  max-width: 35px;
}

.div-block-8 {
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  justify-content: center;
  align-items: center;
  padding-top: 53px;
  display: flex;
}

.paragraph-2 {
  color: #8d8ff7;
  text-align: center;
  padding-top: 25px;
  padding-left: 100px;
  padding-right: 100px;
  font-family: Varela, sans-serif;
  font-style: normal;
}

.image-15 {
  max-width: 60px;
}

.heading-2 {
  color: #ad0551;
  -webkit-text-stroke-color: #ff9a81;
  font-family: Vollkorn, serif;
  font-size: 40px;
}

.heading-2.marigold {
  color: #e76c00;
}

.heading-2.peony {
  color: #ce4b00;
}

.heading-2.gerbera {
  color: #054bad;
}

.heading-3 {
  color: #ee5454;
  font-family: Vollkorn, serif;
  font-size: 40px;
}

.paragraph-3 {
  color: #ffb8b9;
  font-family: Varela, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.paragraph-3.marigold {
  color: #e76c00;
  margin-bottom: 20px;
}

.paragraph-3.peony {
  color: #ce4b00;
  margin-bottom: 20px;
}

.paragraph-3.gerbera {
  color: #054bad;
  margin-bottom: 20px;
}

.paragraph-4 {
  color: #ee5454;
  margin-bottom: 20px;
  font-family: Varela, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.container-6 {
  display: block;
}

.nav-link {
  font-family: Vollkorn, serif;
}

.nav-link.w--current, .nav-link-2 {
  font-family: Varela, sans-serif;
}

.image-16 {
  margin-right: 10px;
  padding-right: 0;
}

.button-2 {
  color: #fdcf5b;
  background-color: #e86c01;
  border-radius: 0 20px 20px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: Vollkorn, serif;
  text-decoration: none;
}

.button-2.flamingo {
  background-color: #ee5454;
  border-top-left-radius: 0;
}

.button-2.peony {
  color: #f1e6df;
  background-color: #ce4c00;
}

.button-2.daisy {
  background-color: #044cad;
}

.button-2.home {
  color: #c2d1fa;
  background-color: #925cfe;
  border-radius: 0 30px 30px;
}

.bold-text {
  color: #febfa0;
  text-align: center;
  letter-spacing: .1em;
  vertical-align: sub;
  font-style: normal;
  text-decoration: none;
}

.bold-text.marigold {
  color: #fdcf5b;
  vertical-align: sub;
}

.bold-text.peony {
  color: #f1e6df;
  vertical-align: sub;
}

.bold-text.daisy {
  color: #56c7a2;
  vertical-align: sub;
}

.bold-text.home-button {
  color: #c2d1fa;
  font-family: Vollkorn, serif;
}

.bold-text-2 {
  font-family: Varela, sans-serif;
}

.image-17 {
  border-radius: 5px;
  overflow: hidden;
}

.image-17.flamingo {
  border-radius: 200px 0 0;
}

.div-block-9 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.mainpic.marigold {
  border-radius: 200px 0 0;
  display: inline-block;
  overflow: hidden;
}

.mainpic.peony, .mainpic.daisy {
  border-radius: 200px 0 0;
  overflow: hidden;
}

.div-block-10 {
  padding: 80px 130px;
}

.paragraph-5 {
  color: #2f1977;
  text-align: center;
  -webkit-text-stroke-color: #8ffaef;
  font-family: Varela, sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
}

.section-7 {
  background-color: #bfc4f8;
}

.bold-text-4 {
  color: #0e0e0e;
  font-family: Vollkorn, serif;
}

.gifts {
  border-radius: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.image-18 {
  z-index: auto;
  mix-blend-mode: multiply;
  max-width: 340px;
  margin-top: -587px;
  margin-left: -6px;
  position: relative;
  inset: -305px 0% 27% 215px;
}

@media screen and (max-width: 991px) {
  .image-2 {
    overflow: visible;
  }

  .div-block {
    padding-left: 20px;
    padding-right: 30px;
  }

  .div-block-2 {
    max-width: 100%;
    height: auto;
    overflow: hidden;
  }

  .section-4 {
    height: 270px;
  }

  .container-3 {
    max-width: 700px;
  }

  .div-block-4 {
    padding-right: 30px;
  }

  .div-block-5 {
    min-width: auto;
    overflow: visible;
  }

  .image-7 {
    max-width: 320px;
    overflow: hidden;
  }

  .div-block-6 {
    min-width: auto;
    height: auto;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .div-block-6.marigold {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    position: static;
  }

  .div-block-6.gerbera {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: column;
    width: auto;
    height: auto;
    padding: 0;
  }

  .div-block-6.flamingo {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: column;
  }

  .image-8 {
    width: 100%;
    max-width: none;
    height: auto;
    overflow: hidden;
  }

  .image-9 {
    width: 100%;
    height: auto;
    display: none;
  }

  .image-9.flamingo {
    display: block;
  }

  .image-10 {
    height: 50vh;
  }

  .image-10.flamingo {
    width: 100%;
    max-width: none;
    height: auto;
  }

  .div-block-7 {
    grid-column-gap: 13px;
    grid-row-gap: 13px;
    flex-flow: wrap;
    flex: 0 auto;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: center;
    place-items: center;
    display: grid;
  }

  .container-4 {
    grid-column-gap: 23px;
    grid-row-gap: 23px;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 100%;
    height: auto;
    display: block;
    overflow: clip;
  }

  .container-5 {
    max-width: 768px;
    height: 270px;
  }

  .paragraph-3.marigold, .paragraph-3.peony, .paragraph-3.gerbera, .paragraph-4 {
    margin-bottom: 20px;
  }

  .container-6 {
    display: block;
  }

  .nav-link {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
    background-color: #83d0e6;
    border: 0 solid #fff;
    border-radius: 0 0 200px 200px;
    justify-content: center;
    align-items: center;
    min-width: auto;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    overflow: visible;
    box-shadow: 5px 9px 5px #0003;
  }

  .nav-link._2 {
    background-color: #a5eb9a;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .nav-link._1 {
    background-color: #a8c7f1;
  }

  .nav-link-2 {
    color: #0c5c7c;
    text-align: center;
    background-color: #55d4b2;
    border-radius: 200px 200px 20px 20px;
    font-size: 22px;
    box-shadow: 6px 11px 5px #0003;
  }

  .bold-text-2 {
    color: #25388a;
    text-align: center;
    flex-flow: column;
    margin-top: 0;
    font-size: 22px;
    font-weight: 400;
    display: inline-flex;
  }

  .bold-text-2._2 {
    color: #416ef6;
  }

  .image-17 {
    border-radius: 5px;
  }

  .mainpic.marigold {
    display: inline-block;
  }

  .mainpic.peony {
    border: 0 #0000;
    width: auto;
    max-width: 100%;
    overflow: hidden;
  }

  .menu-button {
    padding: 15px 0 0;
  }

  .menu-button.w--open {
    background-color: #fff0;
  }

  .div-block-10 {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .paragraph-5 {
    font-size: 20px;
    line-height: 28px;
  }

  .icon {
    color: #000;
    background-color: #fff0;
    flex-flow: row;
    justify-content: center;
    align-items: flex-start;
    min-width: auto;
    padding-right: 0;
    font-size: 30px;
    display: flex;
  }

  .gifts {
    width: 100%;
    max-width: none;
    display: block;
    overflow: hidden;
  }

  .link-block-3 {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
  }

  .link-block-4, .link-block-5, .link-block-6 {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .image-18 {
    margin-left: -56px;
    overflow: hidden;
  }

  .nav-menu {
    background-color: #fff0;
  }
}

@media screen and (max-width: 767px) {
  .div-block {
    max-width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }

  .container-2.home {
    padding-bottom: 0;
  }

  .div-block-2 {
    max-width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 0;
    overflow: hidden;
  }

  .paragraph {
    max-width: none;
  }

  .paragraph.home {
    margin-bottom: 20px;
  }

  .section-4 {
    height: 270px;
  }

  .image-5 {
    border-radius: 0;
  }

  .container-3 {
    display: block;
  }

  .div-block-4 {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
  }

  .div-block-5 {
    flex-flow: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    display: flex;
  }

  .div-block-6 {
    flex-flow: column;
  }

  .div-block-6.marigold {
    padding-top: 0;
    padding-bottom: 0;
  }

  .div-block-6.gerbera {
    height: auto;
  }

  .image-8 {
    width: 100%;
    max-width: none;
    height: auto;
    overflow: hidden;
  }

  .image-9 {
    display: block;
  }

  .image-10 {
    height: auto;
    display: block;
    overflow: hidden;
  }

  .image-10.flamingo {
    flex: none;
  }

  .button {
    margin-top: 277px;
  }

  .container-4 {
    padding-top: 40px;
  }

  .container-5 {
    height: 270px;
  }

  .container-6 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: space-between;
    align-items: center;
    display: block;
  }

  .image-17 {
    border-radius: 5px;
    flex: none;
    max-width: 80%;
    padding-top: 0;
    display: block;
    position: static;
  }

  .image-17.flamingo {
    max-width: 80%;
  }

  .div-block-9 {
    justify-content: center;
    align-items: flex-start;
    display: block;
  }

  .mainpic.marigold {
    flex: none;
    max-width: 80%;
    display: block;
  }

  .mainpic.peony {
    flex: none;
    width: auto;
    max-width: 80%;
    display: block;
    overflow: hidden;
  }

  .mainpic.daisy {
    flex: none;
    max-width: 80%;
    display: block;
  }

  .menu-button {
    flex: 0 auto;
    justify-content: flex-start;
    align-items: center;
    display: block;
  }

  .div-block-10 {
    padding-left: 100px;
    padding-right: 100px;
  }

  .image-18 {
    margin-top: -327px;
    margin-left: 82px;
    overflow: hidden;
  }
}

@media screen and (max-width: 479px) {
  .image {
    max-width: 500px;
    padding-right: 17px;
    display: inline-block;
  }

  .image-2 {
    margin-top: 142px;
    overflow: visible;
  }

  .div-block {
    padding-left: 20px;
    padding-right: 20px;
    overflow: visible;
  }

  .container-2 {
    min-width: 100px;
    padding-top: 40px;
    padding-bottom: 0;
    overflow: hidden;
  }

  .container-2.home {
    min-width: auto;
    max-width: 100%;
    padding-bottom: 0;
  }

  .div-block-2 {
    padding-bottom: 0;
    overflow: clip;
  }

  .section-4 {
    height: 250px;
  }

  .image-5 {
    border-radius: 0;
  }

  .section-6, .section-6.peony, .section-6.gerbera {
    padding-bottom: 0;
  }

  .div-block-5 {
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
  }

  .div-block-6 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;
    align-items: flex-end;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
  }

  .div-block-6.marigold {
    padding-top: 0;
    padding-bottom: 0;
  }

  .div-block-6.gerbera {
    width: 100%;
    padding: 0;
  }

  .div-block-6.flamingo {
    justify-content: center;
    align-items: flex-start;
  }

  .image-8 {
    width: 100%;
    padding-top: 0;
  }

  .div-block-7 {
    grid-template-columns: 1fr;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .button {
    margin-top: 0;
    padding: 10px 20px;
  }

  .container-4 {
    padding-bottom: 40px;
  }

  .container-5 {
    max-width: 100%;
    height: 250px;
  }

  .paragraph-2 {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 12px;
  }

  .button-2 {
    border-top-left-radius: 0;
  }

  .image-17.flamingo {
    max-width: none;
  }

  .div-block-9 {
    max-width: 100%;
  }

  .container-7 {
    justify-content: center;
    align-items: center;
    min-width: 100%;
    display: flex;
    overflow: hidden;
  }

  .bold-text-3 {
    font-size: 12px;
  }

  .mainpic.marigold {
    border-radius: 200px 0 0;
    flex: none;
    max-width: none;
    display: block;
  }

  .mainpic.peony {
    flex: none;
    width: auto;
    max-width: none;
    overflow: hidden;
  }

  .mainpic.daisy {
    flex: none;
    max-width: none;
  }

  .div-block-10 {
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .image-18 {
    margin-top: -1213px;
    margin-left: 108px;
    position: static;
    overflow: visible;
  }
}


@font-face {
  font-family: 'Courgette';
  src: url('../fonts/Courgette-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}